@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl text-gray-900  sm:text-5xl md:text-6xl;
}

h2 {
  @apply text-3xl text-gray-900  sm:text-4xl md:text-5xl;
}
h3 {
  @apply text-2xl text-gray-900  sm:text-3xl md:text-4xl;
}
h4 {
  @apply text-xl text-gray-900  sm:text-2xl md:text-3xl;
}
h5 {
  @apply text-lg text-gray-900  sm:text-xl md:text-2xl;
}
h6 {
  @apply text-base text-gray-900  sm:text-lg md:text-xl;
}
a {
  cursor: pointer;
}
